:root {
    --mainColor: #2D3C54, #647187, #A0AABA
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,
p {
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #0b1320;

    color: white;

    padding: 20px;
}

header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

header ul li {
    margin: 5px 15px;

    padding: 8px 8px;
}

header a {
    font-size: 18px;
    color: white;
}

header a:hover {

    color: rgb(180, 180, 180);
}

main {
    position: relative;
}

#backgroundMain {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 950px;
}

#inicio{
    padding: 20px;
}

#pixel{
    float: left;
    margin: 0 10px 10px 0;
}

#especializacoes {
    padding-top: 40px;
}

.textInfo{
    text-align: justify !important;
}

.icon {
    width: 35px;
}

.lista {
    display: flex;
    justify-content: center;
}

.lista div {
    margin: 10px 20px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    width: 210px;
}

.lista img {
    margin-right: 10px;
}

.temaDev {
    border-radius: 8px 8px 0 0;
    padding: 5px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
}

.sobreMim {
    padding: 20px;
}

.sobreMim p {
    font-size: 18px;
}

#imagemPerfil {
    float: left;
    margin: 0 10px 10px 0;

    width: 300px;
}

footer {
    background-color: #0b1320;

    color: white;

    padding: 20px;

}

.contatos {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contatos div {
    text-align: center;
}

.contatos a {
    color: white;
    text-decoration: none;
}

.contatos a:hover {
    color: rgb(180, 180, 180);
}